@import "../../variables";

.projectspage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
}

.projectspage-content {
  color: $site-green;
  font-family: $font-secondary;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}