@import "../../variables";

.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh !important;
}

.homepage-content {
  color: $site-green;
  font-family: $font-secondary;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  margin-top: 1rem;

  &-banner-text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 200px;
    word-spacing: 2rem;
    letter-spacing: 1rem;
    margin-bottom: 2rem;
  }

  &-site-name {
    font-weight: 900;
    font-size: 50px;
    word-spacing: 1rem;
    letter-spacing: 0.5rem;
    background-color: $site-green;
    color: $site-yellow;
    width: 100%;
    text-align: center;
  }

  &-site-desc {
    font-size: 25px;
    padding: 1rem 0 1rem 0;
    background-color: $site-green;
    color: white;
    width: 100%;
    text-align: center;
    font-style: italic;
  }
}
