// -- Colours
$site-yellow: #FADF70;
$site-green: #2F6D60;

// -- Fonts
// Importing Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;

// Buttons
// ...

// Layout / Responsiveness
// ...
